.element__like {
    width: 21px;
    height: 19px;
   /* align-self: center; */
    background-image: url(../../../images/elements_like.svg);
    background-color: transparent;
    border: none;
    background-repeat: no-repeat;
    box-sizing: content-box;
    outline: none;
    transition: opacity ease 600ms;
    padding-right: 14px;
}

.element__like:hover {
    cursor: pointer;
    opacity: 0.5;
}
/*.element__like:hover:active {
    /*background-image: url(../../../images/elements_like_aktive.svg);
    background-color:inherit;
}*/