.element__text-wrapper {
    background: #FFFFFF;
    width: 282px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 22px;
}